python/env/
python/face/face/server_cnf.py
python/face/face/__pycache__/
python/face/api/__pycache__/
python/face/api/metodos/__pycache__/
java/face/target/
java/face/.project
java/face/.classpath
java/face/.settings/