<!--
  Generated template for the BusquedasIncrementalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Busquedas Incrementales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="pantalla">

  <ion-grid>

    <ion-row>
      <ion-col col-2>
        <button ion-button icon-only class="pregunta" (click)="ayuda()">
          <ion-icon name="md-help-circle" class="iconoPregunta"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-8>
      </ion-col>

      <ion-col col-2>
        <button ion-button icon-only (click)="goGraficador()">
          <ion-icon name="md-analytics"></ion-icon>
        </button>
      </ion-col>

    </ion-row>


    <form (ngSubmit)="submitForm()">
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label color="dark">f(x) =</ion-label>
            <ion-input type="text" [(ngModel)]="dataSubmit.fx" name="fx"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="dark">x0 =</ion-label>
            <ion-input type="number" [(ngModel)]="dataSubmit.x0" name="x0"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label color="dark">delta =</ion-label>
            <ion-input type="text" [(ngModel)]="dataSubmit.delta" name="delta"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label color="dark">Iters =</ion-label>
            <ion-input type="number" [(ngModel)]="dataSubmit.nIters" name="nIters"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col col-12>
          <button ion-button type="submit" block>Calcular</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <ion-grid> 

      <br>
      <br>

      <ion-card *ngIf="visibleRoot" class="style-msg-root">
        <ion-col col-12>
          <ion-card-content>
              {{root}}
          </ion-card-content>            
        </ion-col>
      </ion-card>

    
    
  
      <ion-row *ngIf="visibleTable" class = "table-t">
        
        <ion-col col-6 class = "style-t-t"><p class = "text-t-t"> {{titlesTable[0]}} </p></ion-col>
        <ion-col col-6 class = "style-t-t"><p class = "text-t-t"> {{titlesTable[1]}} </p></ion-col>        
        
      </ion-row>
  
      <ion-row *ngFor="let i of contentTable"  class = "table-c" >
        
        <ion-col col-6 class = "style-t-c"><p class = "text-t-c"> {{i[0]}} </p></ion-col>
        <ion-col col-6 class = "style-t-c"><p class = "text-t-c"> {{i[1]}} </p></ion-col>
        
      </ion-row>    
    </ion-grid>

</ion-content>
