page-incremental {
    .pantalla{
        background-color: #f48c42;
    }

    .boton{
        background-color: #0b8c7f;
    }

    .pregunta{
        background-color:#393e47;
        border-radius: 50%;
    }
}
