page-factorizacion-parcial {

    .pantalla{
        background-color: #f48c42;
        font-family: 'Montserrat', sans-serif;
    }
    .pregunta{
        background-color:white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    .iconoPregunta{
        color: black;
    }
    .icono{
        font-size: 90px;
        color: white;
    }

    .cell {
        background-color: white;
        margin: 3%;
        width: fit-content;
    }
    .table{
        th{
            height: 50px;
            background-color:#0b8c7f;
            width: 80px;
            
        }
        td{
            background-color: white;
            width: 80px;
        }
            border: 1px solid black;
            width: 60px;
    }

    .matriz{
        background-color:white;
    }


}
