page-biseccion {
    .headerTable {
        background:lightgrey;
    }
       
    .col{
        border-width: 1px;
        border-style: solid; 
        border-color: black;;
  
    }
  
    h6{
        margin-top: 3px;
        margin-bottom: 3px;
    }

}
