<!--
  Generated template for the GaussPivParcialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color='dark'>
      <ion-title>Gauss Pivoteo Total</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="pantalla">
    <br>
    <button ion-button icon-only class="pregunta" (click)="presentAlert()">
        <ion-icon name="md-help-circle" class="iconoPregunta"></ion-icon>
    </button>
    <br>
  
    <ion-grid>
      <ion-item id="matrixDimension">
        <ion-label>Dimension de la matriz</ion-label>
        <ion-input type="number" [(ngModel)]="n" name='n'></ion-input>
      </ion-item>
  
      <button ion-button type="submit" block (click)="createMatrix()">Generar Matriz</button>
  
      <form (ngSubmit)='submitForm()'>
        <p>Ingrese la Matriz A</p>
        <table>
          <tr *ngFor="let i of matrix; let k = index">
              <td *ngFor="let j of matrix">
                  <ion-input class='cell' type="number" [(ngModel)]="datasubmit.A[i+j]" [ngModelOptions]="{standalone: true}"></ion-input>
              </td>
          </tr>
        </table>
        <br>
        <p>Ingrese el Vector B</p>
        <table>
          <tr>
            <td *ngFor="let i of matrix">
                <ion-input class='cell' type="number" [(ngModel)]="datasubmit.b[i]" [ngModelOptions]="{standalone: true}"></ion-input>
            </td>
          </tr>
        </table>
        <button ion-button type="submit" block>Calcular</button>
  
      </form>
    </ion-grid>
    <div *ngIf="showResult">
      <p>La solución al sistema es:</p>
      <table  class="table" align="center">
        <tr class="table"><th *ngFor="let i of matrix" class="table">
            X{{i}}
          </th></tr>
        <tr class="table">
          <td *ngFor="let j of xs" class="table">
          <p>{{j}}</p>
        </td>
        </tr>
      </table>
      <p>La Matriz escalonada:</p>
    
    <table class="table" align="center">
      <tr *ngFor="let i of escalonada" class="table">
        <td *ngFor="let j of i" class="table">
          {{j}}
        </td>
      </tr>
    </table>
    </div>
  </ion-content>